---
Checks: "*,-llvmlibc-*, -fuchsia-*, -altera-*, -llvm-*, -misc-no-recursion -misc-include-cleaner"
WarningsAsErrors: "true"
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: google
CheckOptions:
  - key: google-readability-braces-around-statements.ShortStatementLines
    value: "1"
  - key: google-readability-function-size.StatementThreshold
    value: "800"
  - key: google-readability-namespace-comments.ShortNamespaceLines
    value: "10"
  - key: google-readability-namespace-comments.SpacesBeforeComments
    value: "2"
  - key: modernize-use-nullptr.NullMacros
    value: "NULL"
