BasedOnStyle: Microsoft
PointerAlignment: Left
Standard: c++11
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
ForEachMacros: [ TEST_CLASS, TEST_METHOD ]
IndentWidth: 3
IndentCaseLabels: true
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: BinPack
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Always
ExperimentalAutoDetectBinPacking: false
ColumnLimit: 100
FixNamespaceComments: false
SortIncludes: false